
{% extends 'parentAPP/base.html' %}

{% load staticfiles %}


{% block menuService %}class="active"{% endblock %}


{% block content %}



	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static "images/astronomy-3187445_640.jpg" %});">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Services</h1>
							<h2>...</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>




		<div class="container">

			<div class="about-content">
				<div class="row animate-box">

					<div class="col-md-6 col-md-pull-1">
						<div class="desc">
							<h2>Services</h2>
<p>We develop web applications and web sites.</p>


                            <h3>Custom websites</h3>
<p>You provide us with contents and some details on what you want. Needless to say to we will work closely together during the entire project development ...</p>



                            <h3>Custom web applications</h3>
<p>Their is a wide variety of web applications… We build the application to our specifcations and creat a pleasant user experience ...</p>


                            <h3>Content management system (CMS)</h3>
<p>We build our website on top of CMS, because it gives our clients the power to easely edit the content of their website f they want to. </p>

						</div>
					</div>

					<div class="col-md-6">
						<img class="img-responsive" src="{% static "images/dog-3055773_640.jpg" %}" alt="about">
					</div>


				</div>
			</div>
			</div>
<!-- CMS section -->
<div style="background-color:black">
		<div class="container">

			<div class="about-content" >
				<div class="row animate-box">
					<div class="col-md-3">
						<img class="img-responsive" src="{% static "images/dog-3055773_640.jpg" %}" alt="about">
					</div>
					<div class="col-md-9 col-md-pull-1">
						<div class="desc">
							<h2>CMS</h2>

<p>
    To put it in simple words, a CMS is a wedsite build tool facilator, throught the years developer realise that it is awaste of time to constantly rewrite the code to for example log user in site or a system that lets user edit their website in the simplest ways ...

Unlike Site builder like WIX Square space and others , CMS offers more flexibility thus possibilities to  show online your business in the best possible light …

From big compagnies to website that showcase smaller business vaste majority of are built on CMS.


Their is not perfect CMS, although wordpress is the most popular CMS it is necessary not the best we choose to work with Django.

This is a table to show show the difference between the two, now it is up to you decide witch one to choose…

</p>


					</div>
				</div>
			</div>





			<div class="col-md-6 col-sm-6">
				<div class="feature-center">
					<span class="icon">
						<i class="icon-eye"></i>
					</span>
					<h2>Wordpress</h2>

                    <p><b>First steps</b></p>
                    <p>It is easy to start with, none developers can build build website</p>

<hr>

                    <p><b>popularity</b></p>
                    <p>No doupt about it WP is widely use</p>

<hr>
                    <p><b>Con</b></p>
                    <p>WP has become bloated with complexity also WP site in general are slower. We give you a powerfull tool that is easy to use , and we help you grow it has your requirements increases</p>
                    <p>By today standarts WP is old and rely on Dated technologies …
While Django is versatil , and all around the word passionte developper help django stay up to date .</p>
<hr>


				</div>
			</div>

			<div class="col-md-6 col-sm-6">
				<div class="feature-center">
					<span class="icon">
						<i class="icon-command"></i>
					</span>
					<h2>Django</h2>
                    <p><b>First steps</b></p>
                    <p>it requires programing skills</p>
<hr>

                    <p><b>popularity</b></p>
                    <p>Less popular than WP, many developers enjoy working on it.</p>
<hr>

                    <p><b>Con</b></p>
                    <p>Usally harder to start with and setup, We are experienced Django developper , we produce working protoype in record time .</p>


				</div>
			</div>




		</div>
	</div>
</div>

<!-- Our tools -->

		<div class="container">

			<div class="about-content">

			    <h2>The toots we use</h2>

				<div class="row animate-box">
					<div class="col-md-6">
						<img class="img-responsive" src="{% static "images/dog-3055773_640.jpg" %}" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-1">
						<div class="desc">
							<h2>Mezzanine</h2>

<p>
    “
Mezzanine is a powerful, consistent, and flexible content management platform. Built using the Django framework, Mezzanine provides a simple yet highly extensible architecture that encourages diving in and hacking on the code. Mezzanine is BSD licensed and supported by a diverse and active community.
In some ways, Mezzanine resembles tools such as Wordpress, providing an intuitive interface for managing pages, blog posts, form data, store products, and other types of content. But Mezzanine is also different. Unlike many other platforms that make extensive use of modules or reusable applications, Mezzanine provides most of its functionality by default. This approach yields a more integrated and efficient platform.

”
</p>


						</div>
					</div>
				</div>

				<!-- 2 -->

				<div class="row animate-box">
					<div class="col-md-6 col-md-pull-1">
						<div class="desc">
							<h2>Waigtail</h2>

<p>
“
Wagtail is a content management system built on Django. It's focused on user experience, and offers precise control for designers and developers.
”
</p>


						</div>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="{% static "images/dog-3055773_640.jpg" %}" alt="about">
					</div>


				</div>



				<!-- 3 -->
				<div class="row animate-box">
					<div class="col-md-6">
						<img class="img-responsive" src="{% static "images/dog-3055773_640.jpg" %}" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-1">
						<div class="desc">
							<h2>DjangoCMS</h2>

<p>
“
django CMS was originally conceived by web developers frustrated with the technical and security limitations of other systems. Its lightweight core makes it easy to integrate with other software and put to use immediately, while its ease of use makes it the go-to choice for content managers, content editors and website admins.
”
</p>


						</div>
					</div>
				</div>



			</div>
</div>



{% endblock %}

