
{% extends 'parentAPP/base.html' %}

{% load staticfiles %}

{% block menuAbout %}class="active"{% endblock %}


{% block content %}

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static "images/universe-2742113_640.jpg" %});">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>About Us</h1>
							<h2>...</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


<div id="fh5co-about-section">
		<div class="container">

			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6">
						<img class="img-responsive" src="{% static "images/dog-3055773_640.jpg" %}" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-1">
						<div class="desc">
							<h2>Our Philosophy</h2>
							<h3>Honesty</h3>
<p>Is one of our core principles is to honestly and quickly tell our clients , how long the job will take , how much it will  cost and if for some reasons we will not be able to complete the task.</p>

                            <h3>Efficiency</h3>
<p>Another key point , give exceptional product , the fast for an affordable price. We strive to reduce time the time an idea birth in your mind its concretion…</p>

                            <h3>Communication</h3>
<p>Very important aspect on of a project success , is good communication between all parties involves .we keep the stakeholder s informed about the project's progress at all times. So as the project comes to life so corrections locked quickly. </p>
						</div>
					</div>
				</div>
			</div>





			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Meet Our Staff</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{% static "images/person1.jpg" %}" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Jean Smith</h3>
						<strong class="role">Web Designer</strong>
						<p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{% static "images/person2.jpg" %}" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Hush Raven</h3>
						<strong class="role">Front-end Developer</strong>
						<p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{% static "images/person3.jpg" %}" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Alex King</h3>
						<strong class="role">Back-end Developer</strong>
						<p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Newsletter</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-inline">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="submit" class="btn btn-default btn-block">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



{% endblock %}

